*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.herro{
    width: 100%;
    height: 150vh;
    background: linear-gradient(rgba(0,0,0,0.5),#8ef5e5),url(./b.png);
    background-position: center;
    background-size: cover;
}
nav h1{
    width: 170px;
    position: absolute;
    top: 4%;
    left: 5%;
    color: aliceblue;
    font-size: 50px;
   
    
}

.detels{
    width: 100%;
    position: absolute;
    color: aliceblue;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

span{
    color: rgb(223, 160, 58);
}
.detels h1{
    font-size: 90px;
    font-style: italic ;
    margin: 20px 0;
}
.detels h3{
    font-size: 40px;
    font-weight: bold;
}
.detels p{
    font-weight:  bold;
    margin: 10px auto;
    line-height: 24px;
    
}
.btn a{
    width: 150px;
    text-decoration: none;
    color: aliceblue;
    border: .5px solid aliceblue;
    margin: 20px auto;
    padding: 12px 0;
    display: inline-block;
    position: relative;
    z-index: 1;
    transition: .5s;
    border-radius: 4px;
    

}
.btn a span{
   width: 0%;
   height: 100%;
   position: absolute;
   background: aliceblue;
   top: 0;
   left: 0;
   z-index: -1;
   transition: .5s;
   
}
.btn a:hover span{
    width: 100%;
}
.btn a:hover {
    color: red;
}

#sidenav{
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -250px;
    background: #009688;
    z-index: 2;
    transition: 0.5s;
}
nav ul li{
    margin: 50px 20px;
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: aliceblue;
}

#menubtn {
    width: 50px;
    height: 50px;
    position: fixed;
    background: #009688;
    top: 20px;
    right: 30px;
    text-align: center;
    z-index: 3;
    cursor: pointer;
    border-radius: 3px;

}
#menubtn img{
    width: 20px;
    margin-top: 15px;

}

@media screen and (max-width:770px) {
    
    .detels h1{
        font-size: 70px;
      
    }

    .btn a {
        display: block;
        margin: 20px auto;
    }

}

/* features */

#features{
    width: 100%;
    padding: 70px 0;
}
.title-text{
    text-align: center;
    padding-bottom: 70px;
}
.title-text p{
   margin: auto;
   font-size: 20px;
   color: #009688;
   font-weight: bold;
   z-index: 1;
   display: inline-block;
   position: relative;
}
.title-text p::after{
    content: '';
    width: 50px;
    height: 35px;
    background: linear-gradient(#009688,#fff);
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 35px;
    border-bottom-right-radius: 35px;

 }



.title-text h1{
    
    font-size: 50px;
   
 }
.feature-box{
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}
.features{
    flex-basis: 50%;
}
.features-img{
    flex-basis: 50%;
    margin: auto;
    background: linear-gradient(rgba(0,0,0,0.5),#8ef5e5),url(./bac.png);
}
.features-img img{
    width: 70%;
}
.features h1{
    text-align: left;
    margin-bottom: 10px;
    font-weight: 100;
    color: #009688;
    margin: 20px auto;
    line-height: 30px;
}
.featuers-desc{
    display: flex;
    margin-bottom: 40px;
    align-items: center;
}
.featuers-icon .fa{
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px;
    border-radius: 8px;
    color: #009688;
    border: 1px solid #009688;
}

.feature-text p{
    padding: 0 20px;
    text-align: initial;
}
@media screen and (max-width:770px){
    .title-text h1{
    
        font-size: 35px;
       
     }
     .features{
        flex-basis: 100%;
    }

    .features-img{
        flex-basis: 100%;
    }
    .features-img img{
       width: 100%;
    }

}

/* Services */
#Services{
    width: 100%;
    padding: 70px 0;
    background: #efefef;
}
.service-box{
    width: 88%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}
.single-service{
    flex-basis: 48%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: aliceblue;
    position: relative;
}
.single-service img{
    width: 100%;
    border-radius: 7px;
}   

 .over-lay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(rgba(0,0,0,0.5),#009688);
    opacity: 0;
    transition: 1s;
}
.single-service:hover .over-lay{
    opacity: 1;
}
.service-desc{
    width: 80%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform:translateX(-50%);
    opacity: 0;
    transition: 1s;
}
hr{
    height: 2px;
    border: 0;
    background: aliceblue;
    margin: 15px auto ;
    width: 60%;
}
.service-desc p{
    font-size: 15px;
}
.single-service:hover .service-desc{
    bottom: 40%;
    opacity: 1;
}
@media screen and (max-width:770px){
    .single-service{
        flex-basis: 100%;
        margin-bottom: 30px;
    }
    .service-desc p{
        font-size: 12px;
    }
    hr{
        margin: 5px auto;
    }
    .single-service:hover .service-desc{
        bottom: 25% !important;
        
    }

}
/* testimonia */

#testimonia{
    width: 100%;
    padding: 70px 0;
    background: aliceblue;
}
.row{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.col{
    flex-basis: 28%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0px 10px 20px 3px #1c272616;
    cursor: pointer;
   transition: .5s;
}
.user{
    display: flex;
    margin: 20px 0;
    align-items: center;
}
.user img{
    width: 40px;
    margin-right: 20px;
    border-radius: 3px;
}
.user-info .fa{
    margin-left: 10px;
    color: #27c0ff;
    font-size: 20px;
}
.user-info small{
    color: #009688;
}
.col:hover{
    transform: translateY(-7px);
}
@media screen and (max-width:770px){
    .col{
        flex-basis: 100%;
    }
}

/* New Team  */

body{
    background: #efefef;
    font-family: sans-serif;
}

.box{
    text-align: center;
    margin: 100px auto 50px;
}
.box p{
    margin-top: 10px;
    line-height: 24px;
}

.profile{
    width: 240px;
    height: 240px;
    margin-bottom: 30px;
    border-radius: 4px;
    background: aliceblue;
    box-shadow: 0 10px 10px 10px rgba(18, 20, 21, 0.1);
    padding: 25px;
    position: relative;
    transition: .5s;
}
.profile img{
    width: 100px;
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 4px;
    transition: 0.5s;
}
.profile h3{
    margin-top: 25px;
    margin-bottom: 5px;
    color: #2196f3;
}

small{
    color: rgb(134, 127, 127);
}
.social-box{
    background: #2196f3;
    margin: 60px auto 20px;
    text-align: center;
    border-radius: 3px;

}

.social-box .fa{
    margin: 5px;
    color: aliceblue;
    cursor: pointer;
}
.profile p{
    text-align: center;
    line-height: 20px;
    color: #5c571c;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 85%;
    margin: auto;
}

.profile img:hover{
    width: 250px;
}

.profile:hover{
    background: #2196f3;
}


.profile:hover h3{
    color: aliceblue;
}

.profile:hover small{
    color: #eddddd;
}

.profile:hover p{
    color: #eddddd;
}
.profile:hover .social-box{
    background: #fff;
}

.profile:hover .social-box .fa{
    color: #2196f3;
}

/* footer */
#footer{
    padding: 100px 0 20px;
    background:aliceblue;
    position: relative;
    
}
.footer-row{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-left,.footer-right{
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;
}

.footer-right{
    text-align: right;
}
.footer-row h1{
  margin: 10px 0;
}
.footer-row p{
    line-height: 35px;
}
.footer-left .fa,.footer-right .fa{

    font-size: 20px;
    color: #009688;
    margin: 15px 0;
}

.footer-img{
max-width: 370px;
opacity: 0.1;
position: absolute;
left: 50%;
right: 35%;
transform: translate(-50%,-50%);

}
.social-link{
    text-align: center;
}
.social-link .fa{
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 40px;
    border: 1px solid #009688;
    margin: 20px 5px 0;
    color: #009688;
    cursor: pointer; 
    transition: .5s;
}
.social-link .fa:hover{
    transform: translateY(-7px);
    background: #009688;
    color: aliceblue;
    cursor: pointer;
}
.social-link p{
    font-size: 12px;
    margin: 20px;
    font-weight: bold;

}
@media screen and (max-width:770px){
    .footer-left,.footer-right{
        flex-basis: 100%;
        font-size: 14px;
    }
}



















